@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600i,700,700i|Oswald:400,700&display=swap");
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    min-width: 960px;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
    font-family: Oswald;
    color: #363636;
}

.header-content {
    max-width: 1020px;
    margin: auto;
}

nav {
    height: 75px;
    width: 100%;
    margin-top: 0px;
    background-color: rgb(80, 0, 109, .6);
}

.nav-container {
    max-width: 1020px;
    margin: auto;
}

.nav-container h1 {
    color: #ffffff;
    padding: 15px 0;
    float: left;
}

.header-nav ul {
    list-style: none;
    overflow: hidden;
    padding: 25px 0;
    float: right;
}

.header-nav ul li {
    padding-right: 20px;
    font-weight: 600;
    text-transform: uppercase;
    float: left;
}

.header-nav ul li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    opacity: 1;
}

.header-nav ul li a:visited {
    color: #ffffff;
}

.header-nav ul li a:hover {
    color: #50006d;
}

.header-nav ul li a:active {
    color: yellow;
}

.current {
    border-bottom: 2px solid #ffffff;
}

.current:visited {
    border-bottom: 2px solid #ffffff;
}

.current:hover {
    border-bottom: 2px solid #363636;
}

.current:active {
    border-bottom: 2px solid yellow;
}

main {
    max-width: 1020px;
    margin: auto;
}

.page-title {
    color: #50006d;
    margin-top: 20px;
    text-align: center;
}

.main-container {
    margin-top: 60px;
}

figure {
    height: 500px;
    width: 300px;
    overflow: hidden;
    margin: 0px;
    float: left;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    text-align: center;
    transition: opacity 1s;
}

figure img {
    height: 80%;
}

figcaption {
    position: relative;
}

figcaption :nth-child(1) {
    font-size: 1.4em;
    font-weight: 600;
    font-style: italic;
    padding: 10px 5px 0;
    text-align: center;
    height: 60px;
    width: 100%;
    color: #ffffff;
    background-color: #50006d;
    opacity: .95;
    position: absolute;
    top: -60px;
}

figcaption p {
    font-size: 1em;
    padding: 10px;
    font-weight: initial;
    color: #363636;
}

.home-info:hover figure:not(:hover) {
    opacity: 0.6;
}

.fig-background {
    height: 500px;
    width: 300px;
    background-color: #ffffff;
    margin: 20px;
    float: left;
}

footer {
    height: 75px;
    background-color: rgb(80, 0, 109, .6);
    width: 100%;
    margin: 0;
    position: absolute;
    bottom: 0;
}

.footer-container {
    width: 100%;
    padding-top: 20px;
    font-size: .8em;
    color: #ffffff;
    text-align: center;
}

.assignments {
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.assignments ul {
    margin-top: 20px;
    list-style: none;
}

.assignments ul li {
    line-height: 2rem;
    text-align: left;
}

.assignments ul li a {
    text-decoration: none;
}

.assignments ul li a:hover {
    color: #50006d;
}